<%- include('./partials/head.ejs') %>
<div class="wrapper">
  <%- include('./partials/image.ejs') %>

  <div class="search">
    <form class="search-form" method="post" action="http://localhost:3000/search">
      <input class="text-input" type="text" name="searchText" placeholder="Search Here" />
      <input class="button" type="submit" value="Search" />
    </form>

    <form class="search-form" method="post" action="http://localhost:3000/random">
      <input class="randomBtn" type="submit" value="Get Random Joke" />
    </form>

    <div class="search-results">
      <ul>
        <% locals.jokes && jokes.forEach((elem) => { %>
          <li><i data-id="<%= elem.id %>" data-value="<%= elem.value %>" class="fa-regular fa-star"></i><span><%= elem.value %></span></li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
